/* text section  */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contantContainer {
    display: flex;
    gap: 80px;
    margin: 50px;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.leftContent {
    flex: 2;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftTitle {
    font-size: 2rem;
    font-weight: bold;
}

.leftDescription {
    font-size: 1.2rem;
    line-height: 1.5;
}

.rightCard {
    flex: 1;
    min-height: 340px;
    background-color: #D2153D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: white;
    margin-top: 100px;
}

.cardHeading {
    font-size: 1.5rem;
    font-weight: bold;
}

.cardDescription {
    font-size: 1.2rem;
    line-height: 1.5;
}

.cardButton {
    align-self: flex-start;
    background-color: white;
    color: red;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* image section  */

.imageContainer {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.image {
    height: 590px;
    width: 362px;
}


/* four cards */
/* Cards.module.css */
.cardContainer {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 100px 0;
}

.card {
    width: 269.37px;
    height: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 8px solid #b02636;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company {
    font-weight: lighter;
    margin: 10px 0 10px 0;
    font-size: 16px;
}

.description {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}

.button {
    align-self: flex-start;
    background-color: #b02636;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

