.container {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 10% 0 10% 0; */
    width: 100%;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.leftContainer {
    width: 40%;
}
.rightContainer {
    display: flex;
    width: 60%;
}

.step {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    color: white;
}

.background {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bgImage1 {
    background-image: url("../../assets/Service1.png");
}

.bgImage2 {
    background-image: url("../../assets/Service2.png");
}

.bgImage3 {
    background-image: url("../../assets/Service1.png");
}

.content {
    position: relative;
    z-index: 2;
    /* padding: 20px; */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.arrowButton {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.arrowButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
